Repository shun-shobon/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Improve OGP tag
  src/lib/ogp.test.ts
  src/lib/ogp.ts
Due: eslint --fix, prettier --write

fix: Fix embed image
  src/components/markdown/Embed.module.css
Due: none

fix: Tweak footer style
  src/app/Footer.module.css
Due: none

feat: Add TwitterCard
  src/app/articles/[slug]/Article.tsx
  src/components/markdown/Embed/LinkCard.module.css
  src/components/markdown/Embed/LinkCard.tsx
  src/components/markdown/Embed/TwitterCard.module.css
  src/components/markdown/Embed/TwitterCard.tsx
  src/components/markdown/Embed/index.tsx
  test-articles/about/README.md
Due: eslint --fix, prettier --write

feat: Add new icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon.svg
  public/logo.svg
Due: none

feat: Add header
  public/logo.svg
  src/app/Header.module.css
  src/app/Header.tsx
Due: eslint --fix, prettier --write

feat: Change OGP image
  src/assets/background.svg
  src/assets/background.ts
  src/pages/api/ogp.tsx
Due: eslint --fix, prettier --write

feat: Add tags to OGP
  src/app/articles/[slug]/page.tsx
  src/lib/feed.ts
  src/lib/ogp-image.ts
  src/pages/api/ogp.tsx
Due: eslint --fix, prettier --write

fix: Fix typo
  src/lib/ogp-image.ts
Due: eslint --fix, prettier --write

feat: Change colors
  src/app/variable.css
  src/components/markdown/Embed/LinkCard.module.css
  src/components/markdown/markdown.module.css
Due: none

feat: Add header backdrop
  src/app/Header.module.css
  src/app/articles/[slug]/page.module.css
  src/app/layout.module.css
  src/app/variable.css
Due: none

feat: Add scroll-margin
  src/components/markdown/markdown.module.css
Due: none

feat: Add heading anchor link
  src/components/markdown/Heading.tsx
  src/components/markdown/markdown.module.css
Due: eslint --fix, prettier --write

feat: Add twemoji
  package.json
  pnpm-lock.yaml
  src/app/Footer.tsx
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleEmoji.tsx
  src/components/Twemoji.module.css
  src/components/Twemoji.tsx
  src/components/markdown/InlineCode.tsx
  src/components/markdown/Text.tsx
Due: eslint --fix, prettier --write

feat: Make math RSC
  package.json
  pnpm-lock.yaml
  src/app/Header.module.css
  src/components/markdown/InlineMath.tsx
  src/components/markdown/Math.tsx
Due: eslint --fix, prettier --write

fix: Add overflow befavior to Math block
  src/components/markdown/Math.tsx
  src/components/markdown/markdown.module.css
Due: eslint --fix, prettier --write

feat: Make code block RSC
  src/components/markdown/Code.tsx
Due: eslint --fix, prettier --write

feat: Use app dir api
  .vscode/settings.json
  src/app/ogp/route.tsx
  src/lib/ogp-image.ts
Due: eslint --fix, prettier --write

feat: Change OGP background color
  src/assets/background.svg
  src/assets/background.ts
Due: eslint --fix, prettier --write

fix: Add draggable attribute
  src/components/Twemoji.tsx
Due: eslint --fix, prettier --write

fix: Tweak article emoji size
  src/components/ArticleCard/ArticleCard.module.css
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleCard/ArticleCardHeading.module.css
  src/components/ArticleCard/ArticleEmoji.module.css
  src/components/ArticleCard/ArticleEmoji.tsx
  src/components/ArticleEmoji.module.css
Due: eslint --fix, prettier --write

feat: Add emoji to article page
  src/app/articles/[slug]/ArticleHeader.module.css
  src/app/articles/[slug]/ArticleHeader.tsx
  src/components/ArticleCard/ArticleCard.module.css
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleEmoji.module.css
  src/components/ArticleEmoji.tsx
  src/components/markdown/Heading.tsx
Due: eslint --fix, prettier --write

feat: Improve a11y to add `aria-hidden` to heading link
  src/components/markdown/Heading.tsx
Due: eslint --fix, prettier --write

fix: Tweak share text
  src/components/ShareButtons.tsx
Due: eslint --fix, prettier --write

feat: Tweak footer button style
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/ArticleFooter.tsx
  src/app/articles/[slug]/ShareButton.tsx
  src/components/ShareButtons.module.css
  src/components/ShareButtons.tsx
Due: eslint --fix, prettier --write

fix: Fix props name
  src/app/articles/[slug]/Article.tsx
Due: eslint --fix, prettier --write

feat: Tweak emoji size
  src/components/ArticleCard/ArticleCard.module.css
Due: none

fix: Tweak ogp background
  src/assets/background.svg
  src/assets/background.ts
Due: eslint --fix, prettier --write

feat: Add OGP emoji
  src/app/articles/[slug]/page.tsx
  src/app/ogp/route.tsx
  src/lib/feed.ts
  src/lib/ogp-image.ts
Due: eslint --fix, prettier --write

fix: Tweak OGP
  src/app/ogp/route.tsx
  src/assets/background.svg
  src/assets/background.ts
Due: eslint --fix, prettier --write

feat: Add Google Tag Manager
  src/app/layout.tsx
  src/components/GTM.tsx
  src/config.ts
Due: eslint --fix, prettier --write

feat: Deindent gtm script
  src/components/GTM.tsx
Due: eslint --fix, prettier --write

feat: Add ga policy link
  src/app/Footer.module.css
  src/app/Footer.tsx
Due: eslint --fix, prettier --write

feat: Tweak OGP image
  src/app/layout.tsx
  src/app/ogp/route.tsx
  src/assets/assets.ts
  src/assets/background.svg
  src/assets/background.ts
  src/assets/title.svg
  src/lib/ogp-image.ts
Due: eslint --fix, prettier --write

feat: Tweak OGP emoji size
  src/app/ogp/route.tsx
Due: eslint --fix, prettier --write

feat: Add sitemap
  .gitignore
  next-sitemap.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add image aspect ratio
  src/app/Header.module.css
  src/app/Header.tsx
  src/components/markdown/Image.tsx
  src/components/markdown/LocalImage.tsx
  src/components/markdown/markdown.module.css
Due: eslint --fix, prettier --write

ci: Add stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/app/Footer.module.css
  src/app/Header.module.css
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/ArticleHeader.module.css
  src/app/layout.module.css
  src/app/page.module.css
  src/app/tags/[name]/page.module.css
  src/components/ArticleCard/ArticleCard.module.css
  src/components/Title.module.css
  src/components/markdown/Embed/LinkCard.module.css
  src/components/markdown/markdown.module.css
Due: none

chore: Refactor dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: Refactor package scripts
  .npmrc
  package.json
Due: none

Path conditions:
  eslint --fix: any of: ./src/**/*.{ts,tsx}
  prettier --write: (any of: ./src/**/*.{js,ts,jsx,tsx}) or (any of: ./*.config.js)
