Repository shun-shobon/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run eslint --fix, yarn run prettier --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "yarn run eslint --fix",
  "*.{js,jsx,ts,tsx,css}": "yarn run prettier --fix"
}

feat: Add ogp image size
  src/lib/ogp.test.ts
  src/lib/ogp.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add article styling
  package.json
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleContent.tsx
  src/app/articles/[slug]/page.module.css
  src/app/articles/[slug]/page.tsx
  src/app/color.css
  src/app/page.tsx
  src/components/ArticleCard/ArticleCardHeading.tsx
  src/components/markdown/Code.tsx
  src/components/markdown/Embed.tsx
  src/components/markdown/Table.tsx
  src/components/markdown/TableCell.module.css
  src/components/markdown/TableCell.tsx
  src/components/markdown/index.ts
  src/lib/article.ts
  test-articles/about/README.md
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add Embed
  .eslintrc.js
  src/app/articles/[slug]/Article.module.css
  src/components/markdown/Embed.module.css
  src/components/markdown/Embed.tsx
  src/lib/ogp.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Change code theme
  src/components/markdown/Code.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add article meta data
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleMeta.module.css
  src/app/articles/[slug]/ArticleMeta.tsx
  src/components/ArticleTag.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add `aria-labelledby`
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleMeta.module.css
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleCard/ArticleCardHeading.tsx
  src/components/markdown/Section.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add footnote
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleFootnote.module.css
  src/app/articles/[slug]/ArticleFootnote.tsx
  src/app/reset.css
  src/components/markdown/Embed.module.css
  src/components/markdown/Embed.tsx
  test-articles/about/README.md
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add tag base summary getter
  scripts/generate.ts
  src/app/articles/[slug]/page.tsx
  src/app/page.tsx
  src/config.ts
  src/lib/article.ts
  src/lib/markdown.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add tags
  src/app/articles/[slug]/Article.module.css
  src/app/page.tsx
  src/app/tags/[name]/page.module.css
  src/app/tags/[name]/page.tsx
  src/components/Title.module.css
  src/components/Title.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add dynamic routing setting to not found
  src/app/articles/[slug]/page.tsx
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Remove `useId` from RSC
  src/app/articles/[slug]/ArticleFootnote.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add OGP
  package.json
  pnpm-lock.yaml
  src/assets/NotoSansJP-Bold.otf
  src/assets/icon.jpg
  src/assets/ogp-bg.svg
  src/pages/api/ogp.tsx
  tsconfig.json
Due: yarn run eslint --fix, yarn run prettier --fix

build: Add build scripts
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/generate-test.ts
  scripts/generate.ts
  tsconfig.json
  vitest.config.ts
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Fix tag uri
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add page metadata
  src/app/Header.module.css
  src/app/Header.tsx
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Adjust heading font size
  src/app/articles/[slug]/Article.module.css
Due: yarn run prettier --fix

chore: Version up
  package.json
Due: none

chore: Fix lockfile
  pnpm-lock.yaml
  vitest.config.ts
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Minify icon
  src/assets/icon.jpg
Due: none

fix: Minify icon size
  src/assets/icon.jpg
Due: none

feat: Change fetching font
  src/assets/NotoSansJP-Bold.otf
  src/assets/ogp-bg.svg
  src/pages/api/ogp.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

chore: Version up to 2.0.2
  package.json
Due: none

chore: Upgrade denepdencies
  package.json
  pnpm-lock.yaml
Due: none

feat: Change OGP text
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/tags/[name]/page.tsx
  src/config.ts
  src/lib/ogp-image.ts
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Fix missing OGP
  src/app/articles/[slug]/page.tsx
  src/app/page.tsx
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add icon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon.svg
  public/manifest.webmanifest
  src/app/layout.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Adjust fonts
  src/app/articles/[slug]/Article.module.css
  src/app/color.css
  src/app/layout.tsx
  src/app/reset.css
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Fix web manifest location
  src/app/layout.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Fix twitter card image
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

chore: Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: Remove work around solution for OGP
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/tags/[name]/page.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

fix: Fix mergin
  src/app/articles/[slug]/Article.module.css
  src/components/markdown/Embed.module.css
Due: yarn run prettier --fix

feat: Add feed
  package.json
  pnpm-lock.yaml
  src/app/feed/route.ts
  src/app/layout.tsx
  src/lib/feed.ts
  src/lib/markdown.ts
  src/lib/plugins/remark-article/article-date.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Make move readable style
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleFootnote.module.css
  src/app/articles/[slug]/ArticleFootnote.tsx
  src/components/markdown/Blockquote.tsx
  src/components/markdown/Code.tsx
  src/components/markdown/DescriptionDescription.tsx
  src/components/markdown/DescriptionTerm.tsx
  src/components/markdown/Embed.module.css
  src/components/markdown/Embed.tsx
  src/components/markdown/FootnoteDefinition.tsx
  src/components/markdown/FootnoteDefinitionList.tsx
  src/components/markdown/FootnoteReference.tsx
  src/components/markdown/Heading.tsx
  src/components/markdown/InlineCode.tsx
  src/components/markdown/Link.tsx
  src/components/markdown/List.tsx
  src/components/markdown/Paragraph.tsx
  src/components/markdown/Section.tsx
  src/components/markdown/Table.tsx
  src/components/markdown/TableCell.module.css
  src/components/markdown/TableCell.tsx
  src/components/markdown/ThematicBreak.tsx
  src/components/markdown/index.ts
  src/components/markdown/markdown.module.css
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Move article heading to header
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleHeader.module.css
  src/app/articles/[slug]/ArticleHeader.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add share button
  package.json
  pnpm-lock.yaml
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/ArticleFooter.tsx
  src/components/ShareButtons.module.css
  src/components/ShareButtons.tsx
Due: yarn run eslint --fix, yarn run prettier --fix

refactor: Refactor URL
  src/app/Header.tsx
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/tags/[name]/page.tsx
  src/components/ShareButtons.tsx
  src/config.ts
  src/lib/feed.ts
  src/lib/utils.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add edit suggest button
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/ArticleFooter.tsx
  src/config.ts
  src/lib/utils.ts
Due: yarn run eslint --fix, yarn run prettier --fix

feat: Add global footer
  src/app/Footer.module.css
  src/app/Footer.tsx
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/page.module.css
  src/app/layout.tsx
  src/app/variable.css
Due: yarn run eslint --fix, yarn run prettier --fix
