Repository shun-shobon/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "./src/**/*.{ts,tsx}": "eslint --fix",
  "./src/**/*.css": "stylelint --fix",
  "./src/**/*.{js,ts,jsx,tsx,css}": "prettier --write",
  "./*.config.js": "prettier --write"
}

docs: Add hack comment
  src/components/markdown/Code.tsx
Due: eslint --fix, prettier --write

fix: Add escape tag name
  src/components/ArticleTag.tsx
Due: eslint --fix, prettier --write

fix: Use `getElementById` instead of `querySelector` to get the element
  src/app/articles/[slug]/ArticleToc.tsx
Due: eslint --fix, prettier --write

refactor: Remove unnecessary styling
  src/app/layout.tsx
  src/components/markdown/Embed/TwitterCard.module.css
  src/components/markdown/Embed/TwitterCard.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat: Make more strict CSP rules
  src/middleware.ts
Due: eslint --fix, prettier --write

fix: Add aria-label to humburger menu button
  src/app/HeaderMenu.tsx
Due: eslint --fix, prettier --write

fix: Use more accessible colors for light theme
  src/app/Footer.module.css
  src/app/HeaderMenu.module.css
  src/app/articles/[slug]/ArticleFooter.module.css
  src/app/articles/[slug]/ArticleToc.module.css
  src/app/layout.module.css
  src/app/variable.css
  src/components/ArticleCard/ArticleCardHeading.module.css
  src/components/ArticleTag.module.css
  src/components/ProgressBar.css
  src/components/markdown/markdown.module.css
Due: stylelint --fix, prettier --write

fix: Fix showing of light logo in dark mode on Safari
  public/logo-dark.svg
  public/logo-light.svg
  public/logo.svg
  src/app/Header.tsx
Due: eslint --fix, prettier --write

feat: Add `base-url` to CSP header
  src/middleware.ts
Due: eslint --fix, prettier --write

fix: Delete og image when it is not found
  src/components/markdown/Embed/LinkCard.tsx
Due: eslint --fix, prettier --write

refactor: Simplify sort function
  src/lib/exports.ts
Due: eslint --fix, prettier --write

feat: Tweak primary text color in dark mode
  src/app/variable.css
Due: stylelint --fix, prettier --write

feat: Add JSON LD to article pages
  package.json
  pnpm-lock.yaml
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/page.tsx
Due: eslint --fix, prettier --write

feat: Add not-by-ai logo at footer
  public/images/logo-dark.svg
  public/images/logo-light.svg
  public/images/not-by-ai-dark.svg
  public/images/not-by-ai-light.svg
  src/app/Footer.module.css
  src/app/Footer.tsx
  src/app/Header.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: Remove unnecessary dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: Upgrade ESLint config
  package.json
  pnpm-lock.yaml
  src/app/articles/[slug]/ArticleToc.tsx
  src/components/markdown/Code.tsx
  src/components/markdown/Embed/TwitterCard.tsx
  src/lib/exports.ts
  src/lib/plugins/remark-article/article-date.ts
  src/lib/plugins/remark-article/mdast-local-image.ts
  src/lib/utils.ts
  src/types.d.ts
Due: eslint --fix, prettier --write

chore: Remove unnecessary eslint rule
  .eslintrc.js
Due: none

chore: Upgrade pnpm to 8.0.0
  package.json
  pnpm-lock.yaml
Due: none

chore: Remove stylelint-config-prettier
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

fix: Fix text overflow
  src/app/articles/[slug]/ArticleToc.module.css
Due: stylelint --fix, prettier --write

feat: Change favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon.svg
Due: none

fix: Allow to connect vercel telemetry server
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: Add vercel analyzer
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: Add read next field
  src/app/articles/[slug]/ReadNext.module.css
  src/app/articles/[slug]/ReadNext.tsx
  src/app/articles/[slug]/page.tsx
  src/components/ArticleCard/ArticleCard.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: Delete unused import
  src/app/articles/[slug]/page.tsx
Due: eslint --fix, prettier --write

revert: Revert updating Next.js
  package.json
  pnpm-lock.yaml
Due: none

chore: Fix version prefix
  package.json
  pnpm-lock.yaml
Due: none

chore: Change next version specifier
  package.json
  pnpm-lock.yaml
Due: none

build: Fix tsconfig
  package.json
  pnpm-lock.yaml
  src/lib/plugins/remark-article/index.ts
  src/lib/plugins/remark-article/mdast-footnote.ts
  src/lib/plugins/remark-article/mdast-local-image.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: Fix runtime setting
  next.config.js
  src/app/layout.tsx
  src/app/ogp/route.tsx
Due: eslint --fix, prettier --write

feat: Upgrade Next.js (#193)
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/ogp/route.tsx
  src/lib/plugins/remark-article/index.ts
  src/lib/plugins/remark-article/mdast-footnote.ts
  src/lib/plugins/remark-article/mdast-local-image.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Use turbopack
  package.json
Due: none

fix: Fix metadata base url
  src/app/layout.tsx
  src/config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency typescript to ^5.1.3
  package.json
  pnpm-lock.yaml
  src/components/markdown/BlockContent.tsx
Due: eslint --fix, prettier --write

style: Fix order by stylelint
  src/app/layout.module.css
Due: stylelint --fix, prettier --write

chore: Fix package script
  package.json
Due: none

chore(deps): update dependency prettier to v3
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/ProgressBar.css
Due: stylelint --fix, prettier --write

chore: Add my eslint rules
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/app/Footer.tsx
  src/app/articles/[slug]/ArticleFooter.tsx
  src/components/GTM.tsx
  src/components/Link.tsx
  src/components/markdown/Heading.tsx
Due: eslint --fix, prettier --write
