Repository shun-shobon/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

ci: Add lint workflow
  .github/workflows/lint.yml
Due: none

chore: Refresh lockfile
  pnpm-lock.yaml
Due: none

chore: Remove life scryle scripts
  .npmrc
  package.json
Due: none

feat: Add imcomplete security headers
  headers.js
  next.config.js
Due: prettier --write

feat: Add CSP nonce
  headers.js
  src/app/articles/[slug]/page.tsx
  src/app/layout.tsx
  src/app/tags/[name]/page.tsx
  src/components/GTM.tsx
  src/lib/article.ts
  src/lib/utils.ts
  src/middleware.ts
Due: eslint --fix, prettier --write

feat: Add edge runtime setting
  next.config.js
  src/app/feed/route.ts
  src/config.ts
  src/lib/article.ts
  src/lib/markdown.ts
Due: eslint --fix, prettier --write

feat: Add middleware matcher
  src/middleware.ts
Due: eslint --fix, prettier --write

chore: Add bundle analyzer
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add dynamic sitemap
  next-sitemap.config.js
  src/app/server-sitemap.xml/route.ts
  src/lib/feed.ts
  src/lib/ogp-image.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: remove emoji and tags to sitemap
  src/app/server-sitemap.xml/route.ts
Due: eslint --fix, prettier --write

feat: Add lastmod field to tag page
  src/app/server-sitemap.xml/route.ts
  src/lib/article.ts
Due: eslint --fix, prettier --write

fix: Fix feed types
  src/lib/feed.ts
Due: eslint --fix, prettier --write

refactor: Reduce bundle size through database optimazation
  scripts/generate-test.ts
  scripts/generate.ts
  src/app/articles/[slug]/page.tsx
  src/app/page.tsx
  src/app/server-sitemap.xml/route.ts
  src/app/tags/[name]/page.tsx
  src/components/ArticleCard/ArticleCard.tsx
  src/components/ArticleCard/ArticleCardMeta.tsx
  src/config.ts
  src/lib/article.ts
  src/lib/exports.ts
  src/lib/feed.ts
Due: eslint --fix, prettier --write

feat: Add progress bar
  package.json
  pnpm-lock.yaml
  src/app/Header.tsx
  src/app/layout.tsx
  src/components/ArticleCard/ArticleCardHeading.tsx
  src/components/ArticleTag.tsx
  src/components/InternalLink.tsx
  src/components/ProgressBar.css
  src/components/ProgressBar.tsx
  src/components/markdown/Link.tsx
Due: eslint --fix, stylelint --fix, prettier --write

fix: Fix progressbar when same link is clicked
  src/components/InternalLink.tsx
Due: eslint --fix, prettier --write

chore(renovate): Add lockfile maintenance option
  renovate.json
Due: none

feat: Add webmanifest
  public/manifest.webmanifest
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat(header): Add links
  src/app/Header.module.css
  src/app/Header.tsx
Due: eslint --fix, stylelint --fix, prettier --write

refactor: Add universal link component
  src/app/Header.tsx
  src/components/Link.tsx
  src/components/markdown/Link.tsx
Due: eslint --fix, prettier --write

feat: Add hamburger menu
  src/app/Header.module.css
  src/app/Header.tsx
  src/app/HeaderMenu.module.css
  src/app/HeaderMenu.tsx
  src/hooks/useMediaQuery.ts
Due: eslint --fix, stylelint --fix, prettier --write

feat: Tweak footer padding
  src/app/Footer.module.css
Due: stylelint --fix, prettier --write

feat: Add tags
  src/app/HeaderMenu.tsx
  src/app/global.module.css
  src/app/page.tsx
  src/app/tags/[name]/page.module.css
  src/app/tags/[name]/page.tsx
  src/app/tags/page.module.css
  src/app/tags/page.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat: Add tag article count
  src/app/tags/page.tsx
  src/components/ArticleTag.tsx
Due: eslint --fix, prettier --write

feat(header): Tweak style
  src/app/HeaderMenu.module.css
Due: stylelint --fix, prettier --write

fix: Fix props type
  src/components/ArticleTag.tsx
Due: eslint --fix, prettier --write

feat(layout): Add toc layout
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleHeader.module.css
  src/app/articles/[slug]/ArticleHeader.tsx
  src/app/articles/[slug]/ArticleToc.tsx
  src/app/articles/[slug]/page.module.css
  src/components/markdown/markdown.module.css
Due: eslint --fix, stylelint --fix, prettier --write

feat: Add active toc styling
  src/app/articles/[slug]/Article.module.css
  src/app/articles/[slug]/ArticleToc.module.css
  src/app/articles/[slug]/ArticleToc.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat: Improve intersection
  src/app/articles/[slug]/ArticleToc.tsx
Due: eslint --fix, prettier --write

feat: Tweak toc style
  src/app/articles/[slug]/ArticleToc.module.css
  src/app/articles/[slug]/ArticleToc.tsx
Due: eslint --fix, stylelint --fix, prettier --write

chore: Use my personal renovate config
  renovate.json
Due: none

chore: Upgrade typescript 5.0
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

fix: Revert multiple files in extends
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

ci: Add `fail-fast: false`
  .github/workflows/lint.yml
Due: none

fix: Fix extends path
  tsconfig.json
Due: none

fix: delete line numbers to fix line style shift bug
  src/components/markdown/Code.tsx
Due: eslint --fix, prettier --write

fix: Use ZonedDateTime instead of PlainDate
  src/app/articles/[slug]/ArticleHeader.tsx
  src/app/server-sitemap.xml/route.ts
  src/components/ArticleCard/ArticleCardMeta.tsx
  src/lib/exports.ts
  src/lib/plugins/remark-article/article-date.ts
Due: eslint --fix, prettier --write

fix: Fix invalid datetime format
  src/app/articles/[slug]/ArticleHeader.tsx
  src/app/articles/[slug]/page.tsx
  src/app/server-sitemap.xml/route.ts
  src/components/ArticleCard/ArticleCardMeta.tsx
  src/lib/feed.ts
Due: eslint --fix, prettier --write

fix: Add timezone
  src/app/articles/[slug]/ArticleHeader.tsx
  src/app/articles/[slug]/page.tsx
  src/app/server-sitemap.xml/route.ts
  src/components/ArticleCard/ArticleCardMeta.tsx
Due: eslint --fix, prettier --write

fix: Fix invalid datetime format
  src/app/server-sitemap.xml/route.ts
Due: eslint --fix, prettier --write

feat: Add syntax highlight when using diff
  src/components/markdown/Code.tsx
  test-articles/about/README.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./src/**/*.{ts,tsx}
  stylelint --fix: any of: ./src/**/*.css
  prettier --write: (any of: ./src/**/*.{js,ts,jsx,tsx,css}) or (any of: ./*.config.js)
