Repository shun-shobon/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "./src/**/*.{ts,tsx}": "eslint --fix",
  "./src/**/*.css": "stylelint --fix",
  "./src/**/*.{js,ts,jsx,tsx,css}": "prettier --write",
  "./*.config.js": "prettier --write"
}

feat: Goodbye next-sitemap
  package.json
  pnpm-lock.yaml
  src/app/robots.ts
  src/app/server-sitemap.xml/route.ts
  src/app/sitemap.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Goodbye next-sitemap
  next-sitemap.config.js
Due: prettier --write

chore: Use ESModule
  .eslintrc.cjs
  headers.js
  next.config.js
  package.json
  postcss.config.cjs
Due: prettier --write

chore(eslint): Use flat config
  .eslintrc.cjs
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/generate-test.ts
  scripts/generate.ts
  src/app/HeaderMenu.tsx
  src/hooks/useMediaQuery.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: Upgrade nextjs
  package.json
  pnpm-lock.yaml
  src/app/articles/[slug]/Article.tsx
  src/app/articles/[slug]/ArticleHeader.tsx
  src/app/articles/[slug]/page.tsx
  src/app/sitemap.ts
  src/components/ArticleCard/ArticleCardMeta.tsx
  src/lib/exports.ts
  src/lib/feed.ts
  src/lib/plugins/remark-article/article-date.ts
Due: eslint --fix, prettier --write

ci: Fix actions/checkout version
  .github/workflows/lint.yml
Due: none

fix: Fix og image
  src/app/ogp/route.tsx
Due: eslint --fix, prettier --write

fix: viewportにいくつかのメタデータを移動
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix: reset CSSを変更
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/reset.css
Due: eslint --fix, stylelint --fix, prettier --write

fix: テキスト周りのスタイルを修正
  src/app/articles/[slug]/ArticleHeader.module.css
  src/components/ArticleCard/ArticleCard.module.css
  src/components/markdown/markdown.module.css
Due: stylelint --fix, prettier --write

fix: スタイルの修正 (#943)
  package.json
  pnpm-lock.yaml
  src/app/articles/[slug]/ArticleHeader.module.css
  src/app/layout.tsx
  src/app/reset.css
  src/components/ArticleCard/ArticleCard.module.css
  src/components/markdown/markdown.module.css
Due: eslint --fix, stylelint --fix, prettier --write

fix: リンクカードのバグを修正
  src/components/markdown/Embed/LinkCard.module.css
  src/components/markdown/Embed/LinkCard.tsx
  src/components/markdown/Embed/TwitterCard.tsx
  src/components/markdown/Embed/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

feat: リンクカードをサスペンス化
  src/components/markdown/Embed/index.tsx
Due: eslint --fix, prettier --write
